@using Newtonsoft.Json
@using esWMS.Client.Components.Document
@using esWMS.Client.Services
@using esWMS.Client.States
@using esWMS.Client.ViewModels
@using esWMS.Client.ViewModels.Documents
@inject IDialogService DialogService
@inject IDataService<PzVM> pzDataService
@inject IDocumentDataService documentDataService
@inject ISnackbar Snackbar
@inject IAlertService AlertService
@inject IConfirmDialogService ConfirmDialogService
@inject OnePageState OnePageState

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Numer dokumentu:</strong> @PzVM.DocumentId
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Magazyn wydający:</strong>
    [@PzVM.IssueWarehouseId] @PzVM.IssueWarehouse?.WarehouseName
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Komentarz:</strong> @PzVM.Comment
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data wystawienia dokumentu:</strong>
    @PzVM.DocumentIssueDate.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Zatwierdzono: </strong>
    @if (PzVM.IsApproved)
    {
        <span>TAK</span>
    }
    else
    {
        <span>NIE</span>
    }
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data przyjęcia towaru:</strong>
    @PzVM.GoodsReceiptDate?.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Kontrahent:</strong>
    [@PzVM.SupplierContractorId] @PzVM.SupplierContractor?.ContractorName
</MudText>

<DocumentItemsTable DocumentItems="@PzVM.DocumentItems"
                    TableType="DocumentItemsTable.DocumentItemTableType.DocumentDetails"
                    OnApprove="OpenDialogAsync"
                    DeleteFunc="OpenDeleteDialog" />

@if (PzVM.DocumentItems.All(x => x.IsApproved) &&
!PzVM.IsApproved)
{
    <MudButton OnClick="@(() => ApprovePz())"
               Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Class="mb-3">
        Zatwierdź
    </MudButton>
}
else if (PzVM.IsApproved)
{
    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="mb-3">
        Zatwierdzono
    </MudButton>
}
else
{
    if (!PzVM.DocumentItems.Any(x => x.IsApproved))
    {
        <MudButton OnClick="@(() => OpenDeleteDocumentDialog())"
                   EndIcon="@Icons.Material.Outlined.Delete"
                   Size="@Size.Small"
                   Variant="@Variant.Filled"
                   Color="@Color.Error"
                   Class="my-3 me-2">
            Usuń
        </MudButton>
    }

    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="my-3">
        Zatwierdź
    </MudButton>
}

@code {
    [Parameter]
    public PzVM PzVM { get; set; } = new();
    [Parameter]
    public List<EventCallback>? EventCallbacks { get; set; }
    [Parameter]
    public Guid TabId { get; set; }

    private Task OpenDialogAsync(DocumentItemVM documentItem)
    {
        InvokeAsync(RefreshPz);
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<ApproveReceivedItemDialog>
        {
            { x => x.WarehouseId, PzVM.IssueWarehouseId },
            { x => x.DocumentItemVM, documentItem },
            { x => x.FuncsOnAdded, new List<EventCallback>() { EventCallback.Factory.Create(this, RefreshPz) } },
            { x => x.Uri, @"api/v1/Pz/approve-items"}
        };
        return DialogService.ShowAsync<ApproveReceivedItemDialog>(null, parameters, options);
    }

    private async Task RefreshPz()
    {
        var sm = new SieveModelVM();

        sm.Page = 1;
        sm.PageSize = 1;
        sm.Filters = $"DocumentId=={PzVM.DocumentId}";

        var response = await pzDataService.GetPagedResult(@"api/v1/pz/get-filtered", sm);

        if (response.Items.FirstOrDefault() != null)
        {
            PzVM = response.Items.First();
        }

        StateHasChanged();
    }

    public async Task ApprovePz()
    {
        var response = await documentDataService.ApproveDocument(@"api/v1/Pz/approve", new { DocumentId = PzVM.DocumentId });

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var json = await response.Content.ReadAsStringAsync();
            var responseObj = JsonConvert.DeserializeObject<PzVM>(json);

            await RefreshPz();

            Snackbar.Add(new MarkupString($"Pomyślnie zatwierdzono <b>{PzVM.DocumentId}</b>"), Severity.Success);

        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }

    private async Task OpenDeleteDialog(DocumentItemVM documentItem)
    {
        bool confirm = false;

        await ConfirmDialogService.OpenDeleteDialogAsync(
            "Usuwanie pozycji", "Czy na pewno chcesz usunąć pozycję?",
            Services.ConfirmDialogService.ButtonDialogType.Delete,
            EventCallback.Factory.Create(this, () => confirm = true));

        if (confirm)
        {
            await DeleteAsync(documentItem);
        }
    }

    private async Task OpenDeleteDocumentDialog()
    {
        bool confirm = false;

        await ConfirmDialogService.OpenDeleteDialogAsync(
            "Usuwanie pozycji", "Czy na pewno chcesz usunąć dokument?",
            Services.ConfirmDialogService.ButtonDialogType.Delete,
            EventCallback.Factory.Create(this, () => confirm = true));

        if (confirm)
        {
            await DeleteDocumentAsync();
        }
    }

    private async Task DeleteAsync(DocumentItemVM documentItem)
    {
        var response = await pzDataService.Delete(@"api/v1/Pz/item/" + documentItem.DocumentItemId);
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add(new MarkupString("Usunięto pozycję"), Severity.Success);
            await RefreshPz();

        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }

    private async Task DeleteDocumentAsync()
    {
        var response = await pzDataService.Delete(@"api/v1/Pz", new() { { "DocumentId", PzVM.DocumentId } });
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add(new MarkupString("Usunięto dokument"), Severity.Success);
            await OnePageState.RemoveTab(TabId);
        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }
}
