@using esWMS.Client.Services
@using esWMS.Client.ViewModels
@using esWMS.Client.ViewModels.Documents
@inject IDialogService DialogService
@inject IDataService<PzVM> pzDataService

<MudText Typo="Typo.body1"><strong>Numer dokumentu:</strong> @PzVM.DocumentId</MudText>

<MudText Typo="Typo.body1">
    <strong>Magazyn wydania:</strong>
    [@PzVM.IssueWarehouseId] @PzVM.IssueWarehouse?.WarehouseName
</MudText>

<MudText Typo="Typo.body1"><strong>Komentarz:</strong> @PzVM.Comment</MudText>

<MudText Typo="Typo.body1">
    <strong>Data wydania dokumentu:</strong>
    @PzVM.DocumentIssueDate.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1">
    <strong>Zatwierdzono: </strong>
    @if (PzVM.IsApproved)
    {
        <span>TAK</span>
    }
    else
    {
        <span>NIE</span>
    }
</MudText>

<MudText Typo="Typo.body1">
    <strong>Data przyjęcia towaru:</strong>
    @PzVM.GoodsReceiptDate?.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1">
    <strong>Kontrahent:</strong>
    [@PzVM.SupplierContractorId] @PzVM.SupplierContractor?.ContractorName
</MudText>


<MudDataGrid T="DocumentItemVM" Items="@PzVM.DocumentItems" EditMode="DataGridEditMode.Cell">
    <Columns>
        <PropertyColumn Property="x => x.ProductId" Title="Id" />
        <PropertyColumn Property="x => x.ProductCode" Title="Kod" />
        <PropertyColumn Property="x => x.ProductName" Title="Nazwa" />
        <PropertyColumn Property="x => x.Quantity" Title="Ilość" />
        <TemplateColumn CellClass="d-flex" Title="Zatwierdzony">
            <CellTemplate>
                <MudStack Row>
                    <MudCheckBox Value="@context.Item.IsApproved" Disabled />
                    @if (!context.Item.IsApproved)
                    {
                        <MudButton OnClick="@(() => OpenDialogAsync(context.Item))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Zatwierdź
                        </MudButton>
                    }
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {
    [Parameter]
    public PzVM PzVM { get; set; } = new();

    [Parameter]
    public List<EventCallback>? EventCallbacks { get; set; }

    private Task OpenDialogAsync(DocumentItemVM documentItem)
    {
        InvokeAsync(RefreshPz);
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<ApprovePzItemDialogForm>
        {
            { x => x.DocumentItemVM, documentItem},
            { x => x.FuncsOnAdded, new List<EventCallback>() { EventCallback.Factory.Create(this, RefreshPz) } }
        };
        return DialogService.ShowAsync<ApprovePzItemDialogForm>(null, parameters, options);
    }

    private async Task RefreshPz()
    {
        var sm = new SieveModelVM();

        sm.Page = 1;
        sm.PageSize = 1;
        sm.Filters = $"DocumentId=={PzVM.DocumentId}";

        var response = await pzDataService.GetPagedResult(@"api/v1/pz/get-filtered", sm);

        if (response.Items.FirstOrDefault() != null)
        {
            PzVM = response.Items.First();
        }

        StateHasChanged();
    }
}
