@using Newtonsoft.Json
@using esWMS.Client.Components.Document
@using esWMS.Client.PrintTemplates.Models
@using esWMS.Client.Services
@using esWMS.Client.Services.Dialog
@using esWMS.Client.States
@using esWMS.Client.ViewModels
@using esWMS.Client.ViewModels.Documents
@inject IDialogService DialogService
@inject IDataService<WzVM> wzDataService
@inject IDocumentDataService documentDataService
@inject ISnackbar Snackbar
@inject IAlertService AlertService
@inject IConfirmDialogService ConfirmDialogService
@inject OnePageState OnePageState

<PrintDocumentButton Disabled="@(!WzVM.IsApproved)"
                     DocumentPrintModel="new DocumentPrintModel(
                        model: WzVM,
                        contractor: WzVM.RecipientContractor ?? new(),
                        documentType: DocumentTypesName.WZ,
                        contractorType: DocumentContractorType.Receiver)" />

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Numer dokumentu:</strong> @WzVM.DocumentId
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Magazyn wydający:</strong>
    [@WzVM.IssueWarehouseId] @WzVM.IssueWarehouse?.WarehouseName
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Komentarz:</strong> @WzVM.Comment
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data wystawienia dokumentu:</strong>
    @WzVM.DocumentIssueDate.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Zatwierdzono: </strong>
    @if (WzVM.IsApproved)
    {
        <span>TAK</span>
    }
    else
    {
        <span>NIE</span>
    }
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data wydania towaru:</strong>
    @WzVM.GoodsReleaseDate?.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Kontrahent:</strong>
    [@WzVM.RecipientContractorId] @WzVM.RecipientContractor?.ContractorName
</MudText>

<DocumentItemsTable DocumentItems="@WzVM.DocumentItems"
                    TableType="DocumentItemsTable.DocumentItemTableType.DocumentDetails"
                    OnApprove="OpenDialogAsync"
                    DeleteFunc="OpenDeleteDialog" />

@if (WzVM.DocumentItems.All(x => x.IsApproved)
    && !WzVM.IsApproved
    && WzVM.DocumentItems.Any())
{
    <MudButton OnClick="@(() => ApproveWz())"
               Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Class="mb-3">
        Zatwierdź
    </MudButton>
}
else if (!WzVM.IsApproved && !WzVM.DocumentItems.Any(x => x.IsApproved))
{
    <MudButton OnClick="@(() => OpenDeleteDocumentDialog())"
               EndIcon="@Icons.Material.Outlined.Delete"
               Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Error"
               Class="my-3 me-2">
        Usuń
    </MudButton>
}
else
{
    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="my-3">
        Zatwierdź
    </MudButton>
}

@code {
    [CascadingParameter]
    public bool IsActive { get; set; }
    [Parameter]
    public WzVM WzVM { get; set; } = new();
    [Parameter]
    public List<EventCallback>? EventCallbacks { get; set; }
    [Parameter]
    public Guid TabId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (IsActive)
        {
            await RefreshWz();
        }
    }

    private Task OpenDialogAsync(DocumentItemVM documentItem)
    {
        InvokeAsync(RefreshWz);
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<ApproveIssuedItemDialog>
        {
            { x => x.Uri, @"api/v1/Wz/approve-items" },
            { x => x.DocumentItemVM, documentItem},
            { x => x.FuncsOnAdded, new List<EventCallback>() { EventCallback.Factory.Create(this, RefreshWz) } }
        };
        return DialogService.ShowAsync<ApproveIssuedItemDialog>(null, parameters, options);
    }

    private async Task RefreshWz()
    {
        var sm = new SieveModelVM();

        sm.Page = 1;
        sm.PageSize = 1;
        sm.Filters = $"DocumentId=={WzVM.DocumentId}";

        var response = await wzDataService.GetPagedResult(@"api/v1/Wz/get-filtered", sm);

        if (response.Items.FirstOrDefault() != null)
        {
            WzVM = response.Items.First();
        }

        StateHasChanged();
    }

    public async Task ApproveWz()
    {
        var response = await documentDataService.ApproveDocument(@"api/v1/Wz/approve", new { DocumentId = WzVM.DocumentId });

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var json = await response.Content.ReadAsStringAsync();
            var responseObj = JsonConvert.DeserializeObject<WzVM>(json);

            await RefreshWz();

            Snackbar.Add(new MarkupString($"Pomyślnie zatwierdzono <b>{WzVM.DocumentId}</b>"), Severity.Success);

        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }

    private async Task OpenDeleteDialog(DocumentItemVM documentItem)
    {
        bool confirm = false;

        await ConfirmDialogService.OpenDeleteDialogAsync(
            "Usuwanie pozycji", "Czy na pewno chcesz usunąć pozycję?",
            Services.Dialog.ConfirmDialogService.ButtonDialogType.Delete,
            EventCallback.Factory.Create(this, () => confirm = true));

        if (confirm)
        {
            await DeleteAsync(documentItem);
        }
    }

    private async Task OpenDeleteDocumentDialog()
    {
        bool confirm = false;

        await ConfirmDialogService.OpenDeleteDialogAsync(
            "Usuwanie pozycji", "Czy na pewno chcesz usunąć dokument?",
            Services.Dialog.ConfirmDialogService.ButtonDialogType.Delete,
            EventCallback.Factory.Create(this, () => confirm = true));

        if (confirm)
        {
            await DeleteDocumentAsync();
        }
    }

    private async Task DeleteAsync(DocumentItemVM documentItem)
    {
        var response = await wzDataService.Delete(@"api/v1/Wz/item/" + documentItem.DocumentItemId);
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add(new MarkupString("Usunięto pozycję"), Severity.Success);
            await RefreshWz();

        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }

    private async Task DeleteDocumentAsync()
    {
        var response = await wzDataService.Delete(@"api/v1/Wz", new() { { "DocumentId", WzVM.DocumentId } });
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add(new MarkupString("Usunięto dokument"), Severity.Success);
            await OnePageState.RemoveTab(TabId);
        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }
}
