@using Newtonsoft.Json
@using esWMS.Client.Services
@using esWMS.Client.ViewModels
@using esWMS.Client.ViewModels.Documents
@inject IDialogService DialogService
@inject IDataService<RwVM> dataService
@inject IDocumentDataService documentDataService
@inject ISnackbar Snackbar

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Numer dokumentu:</strong> @RwVM.DocumentId
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Magazyn wydający:</strong>
    [@RwVM.IssueWarehouseId] @RwVM.IssueWarehouse?.WarehouseName
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Komentarz:</strong> @RwVM.Comment
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data wystawienia dokumentu:</strong>
    @RwVM.DocumentIssueDate.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Zatwierdzono: </strong>
    @if (RwVM.IsApproved)
    {
        <span>TAK</span>
    }
    else
    {
        <span>NIE</span>
    }
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data wydania towaru:</strong>
    @RwVM.GoodsReleaseDate?.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Odbiorca:</strong>
    @RwVM.DepartmentName
</MudText>

<MudDataGrid T="DocumentItemVM"
             Items="@RwVM.DocumentItems"
             EditMode="DataGridEditMode.Cell"
             Class="mb-3"
             Dense
             Hover
             Bordered>
    <Columns>
        <PropertyColumn Property="x => x.ProductId" Title="Id" />
        <PropertyColumn Property="x => x.ProductCode" Title="Kod" />
        <PropertyColumn Property="x => x.ProductName" Title="Nazwa" />
        <PropertyColumn Property="x => x.Quantity" Title="Ilość" />
        <TemplateColumn CellClass="d-flex" Title="Zatwierdzenie">
            <CellTemplate>
                <MudStack Row>
                    <MudCheckBox Value="@context.Item.IsApproved" Disabled />
                    @if (!context.Item.IsApproved)
                    {
                        <MudButton OnClick="@(() => OpenDialogAsync(context.Item))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Zatwierdź
                        </MudButton>
                    }
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@if (RwVM.DocumentItems.All(x => x.IsApproved) &&
!RwVM.IsApproved)
{
    <MudButton OnClick="@(() => ApproveRw())"
               Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Class="mb-3">
        Zatwierdź
    </MudButton>
}
else if (RwVM.IsApproved)
{
    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="mb-3">
        Zatwierdzono
    </MudButton>
}
else
{
    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="mb-3">
        Zatwierdź
    </MudButton>
}

@if (responseErrors.Any())
{
    <MudItem xs="12" sm="5" Class="mb-3">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({responseErrors.Count})")</MudText>
            @foreach (var error in responseErrors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
}

@code {
    [Parameter]
    public RwVM RwVM { get; set; } = new();

    [Parameter]
    public List<EventCallback>? EventCallbacks { get; set; }

    private List<string> responseErrors = new();

    private Task OpenDialogAsync(DocumentItemVM documentItem)
    {
        InvokeAsync(RefreshRw);
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<ApproveRwItemDialog>
        {
            { x => x.DocumentItemVM, documentItem},
            { x => x.FuncsOnAdded, new List<EventCallback>() { EventCallback.Factory.Create(this, RefreshRw) } }
        };
        return DialogService.ShowAsync<ApproveRwItemDialog>(null, parameters, options);
    }

    private async Task RefreshRw()
    {
        var sm = new SieveModelVM();

        sm.Page = 1;
        sm.PageSize = 1;
        sm.Filters = $"DocumentId=={RwVM.DocumentId}";

        var response = await dataService.GetPagedResult(@"api/v1/Rw/get-filtered", sm);

        if (response.Items.FirstOrDefault() != null)
        {
            RwVM = response.Items.First();
        }

        StateHasChanged();
    }

    public async Task ApproveRw()
    {
        var response = await documentDataService.ApproveDocument(@"api/v1/Rw/approve", new { DocumentId = RwVM.DocumentId });

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var json = await response.Content.ReadAsStringAsync();
            var responseObj = JsonConvert.DeserializeObject<RwVM>(json);

            await RefreshRw();

            Snackbar.Add(new MarkupString($"Pomyślnie zatwierdzono <b>{RwVM.DocumentId}</b>"), Severity.Success);

        }
        else
        {
            var json = await response.Content.ReadAsStringAsync();
            responseErrors = JsonConvert.DeserializeObject<List<string>>(json) ?? new() { "Coś poszło nie tak." };
        }
    }
}
