@page "/warehouseunit"
@using Newtonsoft.Json
@using esWMS.Client.Components
@using esWMS.Client.Components.DeleteDialog
@using esWMS.Client.Pages.OnePage
@using esWMS.Client.Services
@using esWMS.Client.States
@using esWMS.Client.ViewModels
@using esWMS.Client.Components.TableColumnsFilters
@rendermode InteractiveAuto
@inject IDataService<WarehouseUnitVM> warehouseUnitService
@inject OnePageState OnePageState
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IAlertService AlertService

<style>
    .selected-row {
        background-color: #7e6fff;
    }

    .child-row {
        background-color: #a7a7a717;
        border-left: 5px solid #d0d0d0;
    }
</style>

<MudTable T="WarehouseUnitVM"
          ServerData="ServerReload"
          Dense="true"
          Hover="true"
          @ref="_table"
          RowClass="cursor-pointer"
          RowClassFunc="GetRowClass"
          OnRowClick="RowClickEvent"
          MultiSelection="@(TypeOfSelection == SelectionType.Multi)"
          @bind-SelectedItems="_selectedWarehouseUnits"
          FixedHeader
          Height="80%">
    <ToolBarContent>
        <MudText Typo="Typo.h6" Class="me-3">Jednostki magazynowe</MudText>
        <ExpandCollapseGroupsButtons ExpandAction="@(() => { _wuIdShow = _wuIdShow.ToDictionary(pair => pair.Key, pair => true); } )"
                                     CollapseAction="@(() => { _wuIdShow = _wuIdShow.ToDictionary(pair => pair.Key, pair => false); })" />
        <MudSpacer />
        <MudCollapse Expanded="@_additionalFiltersIsExpanded">
            <MudInputLabel>Nazwa produktu</MudInputLabel>
            <DefaultColumntFilter SearchOptions="searchOptions"
                                  Column="ProductName"
                                  OnChangedAction="OnSearch" />
        </MudCollapse>
        <MudButton @onclick="@(() => _additionalFiltersIsExpanded = !_additionalFiltersIsExpanded)"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.FilterAlt"
                   Color="Color.Default"
                   Class="me-3">
            Więcej filtrów
        </MudButton>
        <MudButton @onclick="OpenDialogAsync"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   hidden="@(TypeOfSelection == SelectionType.Multi)">
            Utwórz jednostkę
        </MudButton>
        <MudIconButton Icon="@Icons.Material.Filled.Refresh"
                       OnClick="OnSearch" />
    </ToolBarContent>
    <ColGroup>
        <col style="width:15%;" />
        <col />
        <col style="width:15%;" />
        <col style="width:10%;" />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="ItemCount" T="WarehouseUnitVM">
                Liczba pozycji
            </MudTableSortLabel>
            <DefaultColumntFilter SearchOptions="searchOptions"
                                  Column="ItemCount"
                                  OnChangedAction="OnSearch"
                                  TypeOfField="DefaultColumntFilter.TypeOfFIlterField.Numeric" />
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="WarehouseUnitId" T="WarehouseUnitVM">
                Id
            </MudTableSortLabel>
            <DefaultColumntFilter SearchOptions="searchOptions"
                                  Column="WarehouseUnitId"
                                  OnChangedAction="OnSearch" />
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="WarehouseId" T="WarehouseUnitVM">
                Id magazynu
            </MudTableSortLabel>
            <DefaultColumntFilter Disabled="@(WarehouseIdFilter != null)"
                                  SearchOptions="searchOptions" Column="WarehouseId"
                                  OnChangedAction="OnSearch" />
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="IsBlocked" T="WarehouseUnitVM">
                Blokada
            </MudTableSortLabel>
            <BoolColumnTableFilter Disabled="ShowOnlyUnblocked"
                                   SearchOptions="searchOptions"
                                   Column="IsBlocked"
                                   OnChangedAction="OnSearch" />
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="LocationId" T="WarehouseUnitVM">
                Id lokalizacji
            </MudTableSortLabel>
            <DefaultColumntFilter SearchOptions="searchOptions"
                                  Column="LocationId"
                                  OnChangedAction="OnSearch" />
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="CanBeStacked" T="WarehouseUnitVM">
                Możliwość piętrowania
            </MudTableSortLabel>
            <BoolColumnTableFilter SearchOptions="searchOptions"
                                   Column="CanBeStacked"
                                   OnChangedAction="OnSearch" />
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="StackOnId" T="WarehouseUnitVM">
                Piętrowana na jednostce
            </MudTableSortLabel>
            <DefaultColumntFilter SearchOptions="searchOptions"
                                  Column="StackOnId"
                                  OnChangedAction="OnSearch" />
        </MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            @if (_wuIdShow[context.WarehouseUnitId])
            {
                <MudButton Variant="Variant.Outlined"
                           Size="Size.Small"
                           EndIcon="@Icons.Material.Filled.KeyboardArrowUp"
                           OnClick="@(() => ShowBtnPress(context.WarehouseUnitId))">
                    Pozycje (@context.WarehouseUnitItems.Count)
                </MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Outlined"
                           Size="Size.Small"
                           EndIcon="@Icons.Material.Filled.KeyboardArrowDown"
                           OnClick="@(() => ShowBtnPress(context.WarehouseUnitId))">
                    Pozycje (@context.WarehouseUnitItems.Count)
                </MudButton>
            }
        </MudTd>
        <MudTd DataLabel="Id">@context.WarehouseUnitId</MudTd>
        <MudTd DataLabel="Id magazynu">@context.WarehouseId</MudTd>
        <MudTd DataLabel="Blokada">
            @if (context.IsBlocked)
            {
                <MudIcon Icon="@Icons.Material.Filled.Block"
                         Size="Size.Small" />
            }
        </MudTd>
        <MudTd DataLabel="Id lokalizacji">@context.LocationId</MudTd>
        <MudTd DataLabel="Możliwość piętrowania">
            <MudCheckBox @bind-Value="@context.CanBeStacked"
                         Size="Size.Small"
                         Disabled />
        </MudTd>
        <MudTd DataLabel="Piętrowana na jednostce">@context.StackOnId</MudTd>
        <MudTh>
            <MudIconButton Size="@Size.Small"
                           Icon="@Icons.Material.Outlined.EditLocation"
                           OnClick="@(async () => await OpenEditLocationDialogAsync(context))" />
        </MudTh>
        @if (context.WarehouseUnitItems.Count == 0)
        {
            <MudTh>
                <MudIconButton Size="@Size.Small"
                               Icon="@Icons.Material.Outlined.Delete"
                               OnClick="@(async () => await OpenDeleteDialogAsync(context))" />
            </MudTh>
        }
    </RowTemplate>
    <ChildRowContent>
        @if (_wuIdShow[context.WarehouseUnitId] == true)
        {
            <MudTr>
                <td colspan="4">
                    <MudCard Elevation="0" Style="margin-left:50px;">
                        <MudCardHeader>
                        </MudCardHeader>
                        <MudCardContent Class="pa-0">
                            <MudTable Items="@context.WarehouseUnitItems.OrderBy(x => x.ProductId)"
                                      Context="WuiContext"
                                      Hover="true"
                                      Breakpoint="Breakpoint.Sm"
                                      Elevation="0"
                                      Dense
                                      Bordered
                                      RowClass="child-row">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>Id pozycji</MudTh>
                                    <MudTh>Id magazynu</MudTh>
                                    <MudTh>Id produktu</MudTh>
                                    <MudTh>Nazwa produktu</MudTh>
                                    <MudTh>Ilość</MudTh>
                                    <MudTh>Zablokowane</MudTh>
                                    <MudTh>Dostępne</MudTh>
                                    <MudTh>Nośnik</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Id pozycji">@WuiContext.WarehouseUnitItemId</MudTd>
                                    <MudTd DataLabel="Id magazynu">@WuiContext.WarehouseUnit.WarehouseId</MudTd>
                                    <MudTd DataLabel="Id produktu">@WuiContext.ProductId</MudTd>
                                    <MudTd DataLabel="Nazwa produktu">@WuiContext.Product.ProductName</MudTd>
                                    <MudTd DataLabel="Ilość">@WuiContext.Quantity</MudTd>
                                    <MudTd DataLabel="Zablokowane">@WuiContext.BlockedQuantity</MudTd>
                                    <MudTd DataLabel="Dostępne">@(WuiContext.Quantity - WuiContext.BlockedQuantity)</MudTd>
                                    <MudTd DataLabel="Nośnik">
                                        <MudCheckBox @bind-Value="@WuiContext.IsMediaOfWarehouseUnit"
                                                     Size="Size.Small"
                                                     Disabled />
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
            <MudDivider />
        }
    </ChildRowContent>
    <NoRecordsContent>
        <TableNoRecordsContent />
    </NoRecordsContent>
    <LoadingContent>
        <TableLoadingContent />
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (TypeOfSelection == SelectionType.Multi)
{
    <MudButton @onclick="SubmitSelection"
               Variant="Variant.Filled"
               Color="Color.Primary"
               hidden="@(TypeOfSelection != SelectionType.Multi)"
               Disabled="@(_selectedWarehouseUnits.Count == 0)">
        @ButtonConfirmSelectionText
    </MudButton>
}

@code {
    [CascadingParameter]
    public bool IsActive { get; set; }
    [Parameter]
    public SelectionType TypeOfSelection { get; set; } = SelectionType.None;
    [Parameter]
    public string? WarehouseIdFilter { get; set; }
    [Parameter]
    public HashSet<string>? ExceptWarehouseUnitIdFilter { get; set; }
    [Parameter]
    public HashSet<string>? WarehouseUnitIdFilter { get; set; }
    [Parameter]
    public bool ShowOnlyCanStack { get; set; } = false;
    [Parameter]
    public bool ShowOnlyUnblocked { get; set; } = false;
    [Parameter]
    public EventCallback<HashSet<WarehouseUnitVM>> SelectedWarehouseUnits { get; set; }
    [Parameter]
    public string ButtonConfirmSelectionText { get; set; } = "Potwierdź";

    private HashSet<WarehouseUnitVM> _selectedWarehouseUnits { get; set; } = new();
    private IEnumerable<WarehouseUnitVM> _pagedData;
    private MudTable<WarehouseUnitVM> _table;
    private Dictionary<string, bool> _wuIdShow = new();
    private int _totalItems;
    private bool _additionalFiltersIsExpanded = false;

    public Dictionary<string, FilterOption> searchOptions = new()
    {
        { "ItemCount", new("ItemCount", ">", string.Empty) },
        { "WarehouseUnitId", new("WarehouseUnitId") },
        { "WarehouseId", new("WarehouseId") },
        { "IsBlocked", new("IsBlocked", "==", string.Empty) },
        { "AnyBlockedItem", new("AnyBlockedItem", "==", string.Empty) },
        { "LocationId", new("LocationId") },
        { "CanBeStacked", new("CanBeStacked", "==", string.Empty) },
        { "StackOnId", new("StackOnId") },
        { "ProductName", new("ProductName") }
    };

    protected override async Task OnParametersSetAsync()
    {
        if (IsActive)
        {
            if (_table != null)
                await _table.ReloadServerData();
        }
    }

    private string GetRowClass(WarehouseUnitVM item, int rowIndex)
    {
        if (_selectedWarehouseUnits.Contains(item))
        {
            return "selected-row";
        }
        return string.Empty;
    }

    private void ShowBtnPress(string id)
    {
        _wuIdShow[id] = !_wuIdShow[id];
    }

    protected override void OnInitialized()
    {
        if (WarehouseIdFilter != null)
        {
            searchOptions["WarehouseId"].Operator = "==";
            searchOptions["WarehouseId"].Value = WarehouseIdFilter;
        }
        if (ShowOnlyUnblocked)
        {
            searchOptions["IsBlocked"].Operator = "==";
            searchOptions["IsBlocked"].Value = "false";

            searchOptions["AnyBlockedItem"].Operator = "==";
            searchOptions["AnyBlockedItem"].Value = "false";
        }
        if (ExceptWarehouseUnitIdFilter != null)
        {
            if (ExceptWarehouseUnitIdFilter.Count > 0)
            {
                searchOptions["WarehouseUnitId"].Operator = "!=";
                searchOptions["WarehouseUnitId"].Value = string.Join("|", ExceptWarehouseUnitIdFilter);
            }
        }
        if (WarehouseUnitIdFilter != null)
        {
            if (WarehouseUnitIdFilter.Count > 0)
            {
                searchOptions["WarehouseUnitId"].Operator = "==";
                searchOptions["WarehouseUnitId"].Value = string.Join("|", WarehouseUnitIdFilter);
            }
        }
        if (ShowOnlyCanStack)
        {
            searchOptions["CanBeStacked"].Operator = "==";
            searchOptions["CanBeStacked"].Value = "true";
        }
    }

    private async Task<TableData<WarehouseUnitVM>> ServerReload(TableState state, CancellationToken token)
    {
        var sm = new SieveModelVM();

        sm.Page = state.Page + 1;
        sm.PageSize = state.PageSize;

        sm.Sorts = string.Concat(state.SortDirection == SortDirection.Descending ? '-' : string.Empty, state.SortLabel ?? string.Empty);

        foreach (var searchOption in searchOptions)
        {
            if (searchOption.Value.Value != string.Empty)
                sm.Filters += searchOption.Value.Column + searchOption.Value.Operator + searchOption.Value.Value + ',';
        }

        var response = await warehouseUnitService.GetPagedResult(@"api/v1/WarehouseUnit/get-filtered", sm);

        _wuIdShow = response.Items.ToDictionary(key => key.WarehouseUnitId, value => false);

        return new TableData<WarehouseUnitVM>() { TotalItems = response.TotalItems, Items = response.Items };
    }

    private void OnSearch()
    {
        _table.ReloadServerData();
    }

    private async Task RowClickEvent(TableRowClickEventArgs<WarehouseUnitVM> tableRowClickEventArgs)
    {
        if (tableRowClickEventArgs.Item is not WarehouseUnitVM)
        {
            return;
        }

        if (TypeOfSelection == SelectionType.Single)
        {
            if (tableRowClickEventArgs.Item != null)
            {
                _selectedWarehouseUnits.Clear();
                _selectedWarehouseUnits.Add(tableRowClickEventArgs.Item);
            }
            await SelectedWarehouseUnits.InvokeAsync(_selectedWarehouseUnits);
        }
        else if (TypeOfSelection == SelectionType.None) // im not sure about that <-
        {
            await OnePageState.AddTab(
                new TabView("Szczegóły jednostki" ?? " ",
                new WarehouseUnitDetails(),
                Guid.NewGuid(),
                Icons.Material.Filled.Info,
                new() { { "WarehouseUnitId", tableRowClickEventArgs?.Item.WarehouseUnitId } }));
        }
    }

    private async Task SubmitSelection()
    {
        await SelectedWarehouseUnits.InvokeAsync(_selectedWarehouseUnits);
    }

    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true };
        var parameters = new DialogParameters<AddWarehouseUnitDialog>
        {
            { x => x.FuncsOnCreated, new List<EventCallback>() { EventCallback.Factory.Create(this, _table.ReloadServerData) } }
        };
        return DialogService.ShowAsync<AddWarehouseUnitDialog>(null, parameters, options);
    }

    private Task OpenEditLocationDialogAsync(WarehouseUnitVM warehouseUnit)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Medium };
        var parameters = new DialogParameters<SetLocationModalDialog>
        {
            { x => x.WarehouseUnit, warehouseUnit },
            { x => x.FuncsOnSubmit, new List<EventCallback>() { EventCallback.Factory.Create(this, _table.ReloadServerData) } }
        };
        return DialogService.ShowAsync<SetLocationModalDialog>(null, parameters, options);
    }

    private async Task OpenDeleteDialogAsync(WarehouseUnitVM warehouseUnitVM)
    {
        var parameters = new DialogParameters<DeleteConfirmDialog>
        {
            { x => x.ContentText, $"Czy na pewno chcesz trwale usunąć jednostkę magazynową: {warehouseUnitVM.WarehouseUnitId} w lokalizacji: {warehouseUnitVM.LocationId ?? "brak lokalizacji"}?" }
        };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = await DialogService.ShowAsync<DeleteConfirmDialog>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result?.Canceled ?? false)
        {
            await DeleteAsync(warehouseUnitVM);
        }
    }

    private async Task DeleteAsync(WarehouseUnitVM warehouseUnitVM)
    {
        var response = await warehouseUnitService.Delete(@"api/v1/WarehouseUnit/" + warehouseUnitVM.WarehouseUnitId);
        if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            Snackbar.Add(new MarkupString("Usunięto jednostkę magazynową"), Severity.Success);
            await _table.ReloadServerData();
        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }

    public enum SelectionType
    {
        Single,
        Multi,
        None
    }
}