@using Newtonsoft.Json
@using esWMS.Client.Services
@using esWMS.Client.ViewModels
@using esWMS.Client.ViewModels.Documents
@inject IDialogService DialogService
@inject IDataService<MmpVM> mmpDataService
@inject IDocumentDataService documentDataService
@inject ISnackbar Snackbar

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Numer dokumentu:</strong> @MmpVM.DocumentId
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Numer powiązanego dokumentu MM-:</strong> @MmpVM.RelatedMmmId
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Magazyn wydający:</strong>
    [@MmpVM.IssueWarehouseId] @MmpVM.IssueWarehouse?.WarehouseName
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Komentarz:</strong> @MmpVM.Comment
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data wystawienia dokumentu:</strong>
    @MmpVM.DocumentIssueDate.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Zatwierdzono: </strong>
    @if (MmpVM.IsApproved)
    {
        <span>TAK</span>
    }
    else
    {
        <span>NIE</span>
    }
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Data przyjęcia towaru:</strong>
    @MmpVM.GoodsReceiptDate?.ToString("dd-MM-yyyy")
</MudText>

<MudText Typo="Typo.body1" Class="mb-3">
    <strong>Magazyn wysyłający: </strong>
    [@MmpVM.FromWarehouseId] @MmpVM.FromWarehouse?.WarehouseName
</MudText>

<MudDataGrid T="DocumentItemVM"
             Items="@MmpVM.DocumentItems"
             EditMode="DataGridEditMode.Cell"
             Class="mb-3"
             Dense
             Hover
             Bordered>
    <Columns>
        <PropertyColumn Property="x => x.DocumentItemId" Title="Id" />
        <PropertyColumn Property="x => x.DocumentId" Title="Id dokumentu" />
        <PropertyColumn Property="x => x.ProductId" Title="Id produktu" />
        <PropertyColumn Property="x => x.ProductCode" Title="Kod" />
        <PropertyColumn Property="x => x.ProductName" Title="Nazwa" />
        <PropertyColumn Property="x => x.Quantity" Title="Ilość" />
        <TemplateColumn CellClass="d-flex" Title="Zatwierdzenie">
            <CellTemplate>
                <MudStack Row>
                    <MudCheckBox Value="@context.Item.IsApproved" Disabled />
                    @if (!context.Item.IsApproved)
                    {
                        @* <MudButton OnClick="@(() => OpenDialogAsync(context.Item))"
                    Size="@Size.Small"
                    Variant="@Variant.Filled"
                    Color="@Color.Primary">
                    Zatwierdź
                    </MudButton> *@
                        <MudButton Disabled
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Zatwierdź
                        </MudButton>
                    }
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@if (MmpVM.DocumentItems.All(x => x.IsApproved) &&
!MmpVM.IsApproved)
{
    <MudButton OnClick="@(() => ApproveMmp())"
               Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Class="mb-3">
        Zatwierdź
    </MudButton>
}
else if (MmpVM.IsApproved)
{
    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="mb-3">
        Zatwierdzono
    </MudButton>
}
else
{
    <MudButton Size="@Size.Small"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled
               Class="mb-3">
        Zatwierdź
    </MudButton>
}

@if (responseErrors.Any())
{
    <MudItem xs="12" sm="5" Class="mb-3">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({responseErrors.Count})")</MudText>
            @foreach (var error in responseErrors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
}

@code {
    [Parameter]
    public MmpVM MmpVM { get; set; } = new();

    [Parameter]
    public List<EventCallback>? EventCallbacks { get; set; }

    private List<string> responseErrors = new();

    // private Task OpenDialogAsync(DocumentItemVM documentItem)
    // {
    //     InvokeAsync(RefreshWz);
    //     var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
    //     var parameters = new DialogParameters<ApproveWzItemDialogForm>
    //     {
    //         { x => x.DocumentItemVM, documentItem},
    //         { x => x.FuncsOnAdded, new List<EventCallback>() { EventCallback.Factory.Create(this, RefreshWz) } }
    //     };
    //     return DialogService.ShowAsync<ApproveWzItemDialogForm>(null, parameters, options);
    // }

    private async Task RefreshMmp()
    {
        var sm = new SieveModelVM();

        sm.Page = 1;
        sm.PageSize = 1;
        sm.Filters = $"DocumentId=={MmpVM.DocumentId}";

        var response = await mmpDataService.GetPagedResult(@"api/v1/Mmp/get-filtered", sm);

        if (response.Items.FirstOrDefault() != null)
        {
            MmpVM = response.Items.First();
        }

        StateHasChanged();
    }

    public async Task ApproveMmp()
    {
        var response = await documentDataService.ApproveDocument(@"api/v1/Mmp/approve", new { DocumentId = MmpVM.DocumentId });

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var json = await response.Content.ReadAsStringAsync();
            var responseObj = JsonConvert.DeserializeObject<WzVM>(json);

            await RefreshMmp();

            Snackbar.Add(new MarkupString($"Pomyślnie zatwierdzono <b>{MmpVM.DocumentId}</b>"), Severity.Success);

        }
        else
        {
            var json = await response.Content.ReadAsStringAsync();
            responseErrors = JsonConvert.DeserializeObject<List<string>>(json) ?? new() { "Coś poszło nie tak." };
        }
    }
}
